---
import type { ImageMetadata } from 'astro';
import BaseHead from '../components/BaseHead.astro';
import BgDecor from '../components/BgDecor.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

interface Props {
	title?: string;
	description?: string;
	image?: ImageMetadata;
}

const title = Astro.props.title ?? SITE_TITLE;
const description = Astro.props.description ?? SITE_DESCRIPTION;
const image = Astro.props.image;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body class="hub">
		<BgDecor />
		<Header />
		<div class="hub-page">
			<slot />
		</div>
		<Footer />
	</body>
</html>
